form {
	width: 600;
	min-height: 300;
	height: 400;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	background-color: rgb(255, 255, 255);
}

.buttons-panel{
	position: absolute;
	left: -1;
	right: -1;
	bottom: -1;
	height: 55;
	padding: 12;
	background-color: rgb(255, 0, 0);
	border-color: rgb(230, 230, 230);
	border-thickness: 1;
	horizontal-alignment: right;
}

.buttons-container {
	position: relative;
	float: right;
	background-color: rgb(255, 255, 255);
	background-color: rgb(255, 0, 0);
	width: auto;
	height: auto;
	padding: 0;
}

button {
	position: absolute;
	width: 99;
	height: 32;
	font-color: rgb(255, 255, 255);
	font-size: 9;
	font-family: 'Century Gothic';
	font-bold: 1;
	border-thickness: 1;
	image-width: 16;
	image-height: 16;	
}

button.ok {
	left: 6;
	top: 6;
	background-color: rgb(92, 184, 92);
	border-color: rgb(76, 174, 76);
	image-file-path: C:/Users/Tomek/Desktop/ok_white.png;
}

button.ok:hover {
	background-color: rgb(68, 157, 68);
	border-color: rgb(57, 132, 57);
}

button.ok:clicked{
	background-color: rgb(57, 132, 57);
	border-color: rgb(57, 115, 145);
}

button.cancel {
	position: absolute;
	left: 111;
	top: 6;
	background-color: rgb(217, 83, 79);
	border-color: rgb(212, 63, 58);
	image-file-path: C:/Users/Tomek/Desktop/cancel_white.png;
}

button.cancel:hover {
	background-color: rgb(201, 48, 44);
	border-color: rgb(172, 41, 37);
}

button.cancel:clicked{
	background-color: rgb(172, 41, 37);
	border-color: rgb(98, 86, 139);
}