form {
	height: 300;
	padding-left: 6;
	padding-right: 6;
	padding-top: 6;
	padding-bottom: 6;
	background-color: rgb(110,  230,  150);
}

form:hover {
	background-color: rgb(215,  42,  174);
}

#container{
	background-color: rgb(145, 123, 84);
}